.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: #ffebb4;
  }

  .all-browsers>h1,
  .browser {
    margin: 10px;
    padding: 5px;
  }

  .browser {
    background: white;
  }

  
